{
  "openapi": "3.0.3",
  "info": {
    "title": "GitHub",
    "description": "GitHub's v3 REST API.",
    "version": "1.1.4"
  },
  "servers": [
    { "url": "https://api.github.com" }
  ],
  "security": [
    { "BearerAuth": [] }
  ],
  "paths": {
    "/search/repositories": {
      "get": {
        "operationId": "search_repositories",
        "summary": "Search repositories",
        "description": "Find repositories via various criteria.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The search keywords and qualifiers.",
            "schema": { "type": "string" }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "The property to sort the results by.",
            "schema": {
              "type": "string",
              "enum": ["stars", "forks", "help-wanted-issues", "updated"]
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["asc", "desc"] }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "The number of results per page (max 100).",
            "schema": { "type": "integer" }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "The page number of the results.",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "422": { "description": "Validation failed" }
        }
      }
    },
    "/repos/{owner}/{repo}": {
      "get": {
        "operationId": "get_repository",
        "summary": "Get a repository",
        "description": "The parent and source objects are present when the repository is a fork.",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "404": { "description": "Not Found" }
        }
      }
    },
    "/repos/{owner}/{repo}/issues": {
      "get": {
        "operationId": "list_repository_issues",
        "summary": "List repository issues",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["open", "closed", "all"] }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { "description": "OK" }
        }
      },
      "post": {
        "operationId": "create_issue",
        "summary": "Create an issue",
        "description": "Creates a new issue.",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "201": { "description": "Created" },
          "403": { "description": "Forbidden" },
          "422": { "description": "Validation failed" }
        }
      }
    },
    "/user": {
      "get": {
        "operationId": "get_authenticated_user",
        "summary": "Get the authenticated user",
        "parameters": [],
        "responses": {
          "200": { "description": "OK" },
          "401": { "description": "Requires authentication" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
